.vs/**
.vscode/**
bin/**
*.exe
*.dll
*.lib
*.so
*.obj
*.bin

out/**
debug/**
*.idb
*.ilk
*.aps

build/**
.cmake/**
*.log
*.tlog
*.pdb
*.recipe
*.rule
*.db
*.lastbuildstate
*.stamp
*.depend
*.check_cache
*.exp
*.cache
*.deps

*.png

Build/**
Binaries/**
Content/**
Intermediate/**
pkg/**
Saved/**
Plugins/TensorFlux/Binaries/**
Plugins/TensorFlux/Content/**
Plugins/TensorFlux/Intermediate/**
